@model webdemoquanlygiay.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.fullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.fullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reduceMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reduceMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateArrive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateArrive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.orderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
