<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/css/all.min.css" rel="stylesheet" />
    <link href="~/Public/css/LayoutAdmin.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("head", required: false)
</head>
<body>
    <section class="header">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="@Url.Action("Index", "Products")">ADMIN</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>s
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sản phẩm
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="@Url.Action("Index", "Products")">Tất cả sản phẩm</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Index", "Categories")">Loại sản phẩm</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Index", "Brands")">Thương hiệu</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Users")">Nhân viên</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Discounts")">Khuyến mãi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Orders")">Đơn hàng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Contacts")">Liên hệ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Blogs")">Bài viết</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Topics")">Chủ đề bài viết</a>
                            </li>
                        </ul>
                    </div>
                    @*<div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sản phẩm
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="@Url.Action("Index","Product")">Danh sách sản phẩm</a></li>
                        <li><a class="dropdown-item" href="#">Thêm sản phẩm</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="@Url.Action("Index","Category")">Danh sách loại sản phẩm</a></li>
                        <li><a class="dropdown-item" href="#">Thêm loại sản phẩm</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Bài viết
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Tất cả bài viết</a></li>
                        <li><a class="dropdown-item" href="#">Thêm bài viết</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Tất cả trang đơn</a></li>
                        <li><a class="dropdown-item" href="#">Thêm trang đơn</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Index","Topics")">Tất cả chủ đề</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Bán hàng
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Danh sách sản phẩm</a></li>
                        <li><a class="dropdown-item" href="#">Thêm sản phẩm</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Danh sách loại sản phẩm</a></li>
                        <li><a class="dropdown-item" href="#">Thêm loại sản phẩm</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Giao diện
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Danh sách sản phẩm</a></li>
                        <li><a class="dropdown-item" href="#">Thêm sản phẩm</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Danh sách loại sản phẩm</a></li>
                        <li><a class="dropdown-item" href="#">Thêm loại sản phẩm</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>*@
                </div>
            </nav>
        </div>
    </section>
    <section class="main content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>
    <section class="card-footer bg-black">
        <div class="container-fluid text-center">
            thiet ke boi rovel

        </div>
    </section>


</body>
</html>
