@using webdemoquanlygiay.Models
@using System.Globalization
@using PagedList.Mvc;
@*@model IEnumerable<webdemoquanlygiay.Models.Product>*@
@model PagedList.IPagedList<Product>
@{
    ViewBag.Title = "Product";
    Layout = "~/Share/_LayoutSite.cshtml";
}


<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-4 my-3">
            @Html.Action("Listcategory", "Module")
            @Html.Action("ListThuonghieu", "Module")

        </div>
        <div class="col-md-8">
            <div class="container mb-3 border border-1 shadow rounded rounded-3">
                <div class="row">
                    <h2 class="text-center my-3">SẢN PHẨM THỊNH HÀNH</h2>
                    <hr />
                    <div class="container mb-3 ">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                <div class="col-md-3 col-12">
                    <a href="@Url.Action("ProductDetailPage","ProductDetail",new {id = item.productID })" style="text-decoration: none;">
                        <div class="card my-2">
                            <img src="@Url.Content(item.image)" class="card-img-top" alt="@item.image" style="width:270px; height:270px;">
                            <div class="card-body">
                                <p class="card-title text-dark" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.productName</p>
                                <p class="card-text text-danger fw-bold float-start">
                                    @string.Format(new CultureInfo("vi-VN"), "{0:c}", item.productPrice)
                                </p>
                            </div>
                        </div>
                    </a>
                </div>}
                        </div>
                    </div>

                    <div class="MenuPage">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>


            @* ******************* *@
            <style>
                .MenuPage li {
                    display: inline;
                    text-align: center;
                }

                .pagination a {
                    color: black;
                    float: left;
                    padding: 8px 16px;
                    text-decoration: none;
                    transition: background-color .3s;
                }

                    .pagination a.active {
                        background-color: dodgerblue;
                        color: white;
                    }

                    .pagination a:hover:not(.active) {
                        background-color: #ddd;
                    }
            </style>
